<%- include('../includes/head.ejs',{pageTitle}) %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <section class="row">
            <% if (messages) { %>
                <% for( category in messages) { %>
                    <% for( msg of messages[category] ) { %>
                       <div class='alert alert-<%=  category%>' role="alert"> <%=  msg%></div>%> 
                    <% } %>
                <% } %>
                
            <% } %>
            <form class="col-5" action="/new-password" method="POST" style="margin: auto;">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" /> 
                <input type="hidden" name="userId" value="<%= userId %>" /> 
                <div class="mb-3">
                    <label class="form-label mb-1" for="password">Password</label>
                    <input class="form-control mt-1" type="password" name="password" id="password">
                </div>
                <div class="mb-3">
                    <label class="form-label mb-1" for="confirmpassword">Confirm Password</label>
                    <input class="form-control mt-1" type="password" name="confirmpassword" id="confirmpassword">
                </div>
                <button class="btn btn-info" type="submit">Update Password</button>   
            </form>
        </section>
        
    </main>
<%- include('../includes/end.ejs') %>