<%- include('../includes/head.ejs',{pageTitle}) %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <section class="row">
            <% if (messages) { %>
                <% for( category in messages) { %>
                    <% for( msg of messages[category] ) { %>
                       <div class='alert alert-<%=  category%>' role="alert"> <%=  msg%></div>%> 
                    <% } %>
                <% } %>
                
            <% } %>
            <form class="col-5" action="/signup" method="POST" style="margin: auto;" novalidate >
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" /> 
                <div class="mb-3">
                    <label for="firstname" class="form-label mb-1">First Name</label>
                    <input class="form-control mt-1" type="firstname" name="firstname" id="firstname" value="<%= oldInput.firstname %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label mb-1" for="lastname">Last Name</label>
                    <input  class="form-control mt-1" type="lastname" name="lastname" id="lastname" value="<%= oldInput.lastname %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label mb-1" for="email">E-Mail</label>
                    <input class="form-control mt-1" type="email" name="email" id="email" value="<%= oldInput.email %>" required>
                </div>
               
                <div class="mb-3">
                    <label class="form-label mb-1" for="password">Password</label>
                    <input class="form-control mt-1" type="password" name="password" id="password" value="<%= oldInput.password %>"  required>
                </div>
                <div class="mb-3">
                    <label class="form-label mb-1" for="confirmpassword">Confirm Password</label>
                    <input class="form-control mt-1" type="password" name="confirmpassword" id="confirmpassword" value="<%= oldInput.confirmpassword %>" required>
                </div>
                <button class="btn btn-info" type="submit">Sign Up</button>   
            </form>
        </section>
        
    </main>
<%- include('../includes/end.ejs') %>