<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (prods.length > 0) { %>
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Title</th>
                          <th scope="col">Image</th>
                          <th scope="col">Description</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <% for (let product of prods) { %>
                        <tr>
                            <td scope="col"><%= product.id %></td>
                            <td scope="col"><%= product.title %></td>
                            <td scope="col"><img src="<%= product.imageUrl %>" alt="<%= product.title %>" class='w-25'></td>
                            <td scope="col"><%= product.description %></td>
                            <td scope="col"><%= product.price %></td>
                            <td scope="col"><%= product.cartItem.quantity %></td>
                            <td>
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
                                    <input type="text" name="productId" id="productId" hidden value=<%= product.id %>>
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                        <tfoot>
                            <tr>
                                <td scope='col' colspan="4" ><b>Sum</b> </td>
                                <td scope='col' > <b><%= totalPrice %></b>  </td>
                                <td></td>
                                <td scope='col' >
                                    <form action="/create-order" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
                                        <button class="btn" type="submit">Buy</button>
                                        <input type="text" name="userId" id="userID" hidden value=<%= userId %>>
                                    </form>
                                    <a class="btn btn-info" href="/checkout">Order Now!</a>
                                </td>
                            </tr>
                        </tfoot>
                </table>
                <% } else { %>
                    <h1>No Products Found in Chart!</h1>
                    <% } %>
        </main>
        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <%- include('../includes/end.ejs') %>