<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.title %></h1>
                        <h2>Quantity: <%= p.cartItem.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalPrice %></h2>
            </div>
            <div class="centered">
                <button class='btn btn-primary' id='orderBtn'>Order</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    let stripe = Stripe('pk_test_51JVgkZCDvtHcKGZ70RgBYLIOvIfVrO9dz5FRr0N85eGgLXJ3csb38FldgIPlrtaLlsUpcZVHvzvwVYCboKKx4iic00mGAc1hua');
                    let orderBtn=document.querySelector("#orderBtn")
                    orderBtn.addEventListener('click',function(){
                        stripe.redirectToCheckout({
                            sessionId:"<%=sessionId %>"
                        })
                    })
                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>